@import 'typed';

html,
body {
  font-family: tangerine;
  display: table;
  margin:0 auto;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  background-color: #F7E98D;
}

@font-face {
  font-family: tangerine;
  src: url("tangerine.otf");
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
<<<<<<< Updated upstream
  height: 2500px;
    grid-template-rows: masonry; 
}
=======
  height: 2000px;
  grid-template-rows: masonry;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}    
>>>>>>> Stashed changes

.correct { 
  object-fit: cover; 
  height: 300px;
  width: 300px;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-size: 20px;
  letter-spacing: 1px;
  user-select: none;
  -webkit-user-drag: none;
}

a.other{
  font-size: 23px;
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: yellow;
  }
}

.welcome{
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 26px;
  @include typed(
    "now playing:<[20]>\Ayou can drag all of this site's elements around...<[20]>\A for the buttons, just drag them by the hearts to their right!",
    2.5,
    (
      caret-width: 2px,
      caret-space: 2px
    )
  );
}

.input-wrapper {
  display: flex;
  position: relative;
  top: 0px;
  left: 0%;
}

.littlebutton {
  display: table;
  padding: 10px;
}

.candywrappink {
  background-color: pink;
  padding: 10px;
}

.candywrapgreen {
  background-color: #cdf0b4;
  padding: 10px;
}

.candywrapyellow {
  background-color: #f0eeb4;
  padding: 10px;
}

.candywraporange {
  background-color: #fcd9b6;
  padding: 10px;
}

.candywrappurple {
  background-color: #e2b4f0;
  padding: 10px;
}

.candywrapblue {
  background-color: #b4e4f0;
  padding: 10px;
}

.wrapper {
  display: grid;
  justify-content: center;
  margin: auto;
  grid-template-columns: 350px 350px 350px;
  column-gap: 10px;
}

.inside {
  display: inline-block;
  place-self: center;
  background-color: transparent;
}

h1.myHeading {
  font-size: 35px;
  display: inline;
}

h1.myHeading2 {
  font-size: 25px;
}